<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.ontour.io">ontour.io</a>
      by <a href="http://www.OnTour.io/">Alex Hodson</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>